@media(min-width: 376px) {

    .container {
      display: grid;
      /*Using the CSS Grid therefore display for the container is grid*/
      grid-template-rows: auto;
      /*This is auto so the can be mutiple amount of rows on in the template*/
      margin: 0 auto;
      max-width: 1100px;
      /*The max width of the viewport*/
    }

  /*RESPONSIVE LAYOUT (MOBILE)*/
  @media (max-width: 375px){
      .container{ /*Creates the container for mobile*/
        max-width: 375px;
      }
      /*Sets the content to block, so all content is in one column*/
      .top {
        display: block;
      }

      /*Sets the content to block, so all content is in one column*/
      .layout {
        display: block;;
      }
      
      /*Sets the content to block, so all content is in one column*/
      .tutors {
        display: block;
      }
      
      /*Sets the content to block, so all content is in one column*/
      .news {
        display: block;
      }

      /*Sets the content to block, so all content is in one column*/
      .editorials {
        display: block;
      }
    
      /*Sets the content to block, so all content is in one column*/      
      .footer {
        display: block;
      }
  }
  /*DESKTOP LAYOUT*/
  
  /*Sets the top content into a grid of two columns the second one being two times the size of the first*/
  .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  /*Sets the top content into a grid of two columns the first one being 0.5 bigger than the second*/
  .layout {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 90px;
  }

  /*Sets the top content into a grid of four columns*/
  .tutors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*Sets the top content into a grid of two columns*/
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }

  /*Sets the top content into a grid of three columns*/
  .editorials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Sets the top content into a grid of two columns*/
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
  }
}

  