/**CSS ANIMATIONS FOR THE SITE*/

@keyframes moveIn { 
    0% {transform: scale(0.6);}
    100% {transform: scale(1);}
}

@keyframes slideIn {
    0%{transform: translateX(-500%) scale(1);}
    50% {transform: translateX(0%) scale(0.5);}
    100% {transform: translateX(0%) scale(1);}
}

/* CSS SETTINGS FOR THE BACKGOUND ELEMENTS OF THE SITE**/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ABD2FA;
    margin: 0;
}

/*HEADER ELEMENTS CSS**/

header {
    height: 100%;
    align-items: center;
}

#logo {
    width: 8%;
    height: 20%;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    margin-left: 20%;
}

nav a {/*Sets individual CSS for the a tag on the navigation*/
    transition: 0.5s;
    color: #383838;
    font-weight: 400;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
}

nav a:hover { /*Hover state for the navigation elements*/
    color: #ffffff;
    background-color: #091540;
    font-weight: 600;
    padding: 10px;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
}

/**ORIGINAL FONT FORMATS*/

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #383838;
    width: 25%;
    margin-left: 40%;
    background-color: #7692FF;
    animation: moveIn 1s ease-in-out;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #383838;
    width: 25%;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left;
    background-color: #7692FF;
}

h3{
    font-family: 'Inter', sans-serif;
    margin: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    width: 68%;
    background-color: #091540;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #383838;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #383838;
}


/*Font formats that have had to be adjusted slightly to fit the design.**/
 
.title {
    text-align: center;
    color: #ffffff;
    width: 0;
    margin-left: 35%;
}

.title2 {
    width: 39%;
}

.title3 {
    width: fit-content;
}

.newh3 {
    text-align: center;
    padding: 0;
    background: none;
    margin-left: 33px;
}

.text {
    color: #ffffff;
    font-weight: 600;
}

.italic {
    font-style: italic;
    color: #ffffff;
}

/*A TAG STYLES*/

a {
    font-weight: 600;
    color: #1e1d1d;
}

/*LIST ELEMENTS CSS**/

ul {
    padding: 16px;
}

li {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #1e1d1d;
    line-height: 1.6;
}

/*IMAGE CSS PROPERTIES**/

img {
    width: 20%;
    height: 55%;
    margin-right: 30px;
    justify-content: center;
}


/*Section CSS this is just a base for all the sections*/
section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Creates a base style for the buttons on the site*/
button {
    cursor: pointer; /*Changed mouse when hovering or clicking button*/
    background-color: #ffffff;
    color: #383838;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
}

/*BANNER CSS**/

.banner{
    background-image: url("cssimages/techhub.jpg"); /*This allows the image to be set as the background of the banner**/
    background-repeat: no-repeat; /*Stops the image from being repeated**/
    background-position: 100%; 
    background-size: 80%; /*The banner image doesnt cover 100% of the background*/
    background-color: #7692FF; /*The banner has a side element without an image this to creat the colour*/
    padding: 100px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Calender Properties in CSS**/
.calender {
    position: absolute; /*Calender is absolute so the positioning can be manipulated*/
    animation: moveIn 1s ease-in-out; /*Animation eases the calender in and out*/
}

/*The month element of the calender is coloured and positioned correctly**/
.month {
    padding: 10px;
    width: 40%;
    background: #3460FF;
    text-align: center;
    border-radius: 10px;
    margin-top: -190px;
    margin-left: 40px;
}

/*Sets the colour, size and spacing of the text in the calender*/
.month h2 h3 p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
}

/*Positions the back arrow**/
.prev {
    float: left;
    color: #ffffff;
}

/*Positions the forward arrow**/
.next {
    float: right;
    color: #ffffff;
}

/*Sets the background colour of the days and spacing**/
.days {
    padding: 10px;
    background: #3460FF;
    margin: 0;
    border-radius: 10px;
}
  
/*Day font is styled and positioned**/
.days li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    width: 12%;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/*This element of CSS indicates the day of the month by changing the background colour of the day**/
.days li .active {
    padding: 5px;
    border-radius: 10px; /*Creates the round edges*/
    background: #091540;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/*This class is created to segregate the content the create pods of info and displays them in grid correctly**/
.position {
    margin-right: 10px;
    background-color: #7692FF;
    border-radius: 10px; /*Rounds the edges of the article**/
    padding: 40px;

    animation: slideIn 2.5s ease-in-out; /*Slides in the content*/
    animation-delay: 0.2s; /*Delays animation slightly*/
}


/*The cave image has a background, the css to manipulate the article tag are below*/
.cave {
    background-color: #091540;
    height: 103%;
    width: 85%;
    margin-left: 40px;
    border-radius: 10px;
}

/*Cave image has unique styles to ensure its the correct size*/
.caveimage {
    width: 70%;
    height: 75%;
    margin-top: 45px;
    margin-left: 55px;
    margin-bottom: -25px;
    justify-content: center;
}

/*BANNER STYLES FOR ADVICE AND NEWS*/

/*This is to ensure the banner content excluding the calender is correctly positioned */
.bannercontent {
    padding: 10px;
    width: 27%;
    background: #3460FF;
    text-align: center;
    border-radius: 10px;
    margin-top: -130px;

    animation: moveIn 1s ease-in-out;
}
/*Sets the font inside of the banner element*/
.bannertext {
    font-size: 14px;
    color: #ffffff;
}

/*Stops the text inside the forum from having bulletpoints*/
.forum {
    list-style-type: none;
}

/*Manipulates the input element on the form*/
input {
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
}

/*Image of the tutors are manipulated to make them fit their element*/
.tutorimage {
    width: 80%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 30px;
}


/*The book button has specific requirements as its pulled in through Javascript*/
.book {
    position: absolute; /*Allows the position to be manipulated not regarding any other content*/
    cursor: pointer; /*Changed mouse when hovering or clicking button*/
    background-color: #091540;
    color: #ffffff;
    font-weight: 600;
    width: 108px;
    height: 105px;
    margin-left: 460px; /*Ensures correct positioning*/
    margin-top: -120px; /*Ensures correct positioning*/
    box-shadow: 0 1px 10px 0 #383838; /*Creates a shadow*/
}

/*This class is also pulled in through javascript therefore the styles are to accompany this*/
.events {
    margin-top: 20px;
    margin-right: 10px;
    background-color: #7692FF;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
}

/*This is to position the text so the book button doesn't cover it when being pulled in by javascript.*/
.eventText {
    margin-right: 124px;
}

/*Study is a background for the calender.*/
.study {
    background-color: #091540;
    height: fit-content;
    width: 85%;
    margin-left: 40px;
    border-radius: 10px;
}

/*Calender two is created to prevent the animation from taking place*/
.calender2 {
    position: absolute;
}

/*The month had different properties to the original calender therefore month 2 was created for positioning purposes*/
.month2 {
    padding: 10px;
    width: 40%;
    background: #3460FF;
    text-align: center;
    border-radius: 10px;
    margin-top: -180px;
    margin-left: 40px;
    margin-left: 12%;
    margin-top: 30px;
    width: 280px;
    height: 270px;
}

/*To show the available days on the calender*/
.avaliable {
    padding: 3px;
    background: #ABD2FA;
    color: #383838;
    font-family: 'Inter', sans-serif;
}

/*To show the unavailable days on the calender*/
.unavaliable {
    padding: 3px;
    background: #383838;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/*To postiton the guide for user to understand the calender*/
.guide {
    margin-top: 338px;
    margin-bottom: 10px;
    width: 30%;
    padding: 10px;
    margin-left: 110px;
}

/*To create a border line between tech and community news*/
.community {
    margin-right: 35px;
    border-right: #383838 1px solid ;
}

/*Ensures the socials images are positioned correctly*/
.socials {
    width: 5%;
    height: 10%;
    margin-right: 5px;
}

/*FOOTER STYLING*/
footer {
    padding: 10px;
    width: 100%;
}

/*Ensure that the background colour of the footer spans across the whole page and not restrictd to container*/
.footercontainer {
    background-color: #C4C4C4;
    width: 100%
}

/*RESPONSIVE LAYOUT(MOBILE)*/
@media (max-width: 376px){
/*Changes logo width to fit the screen size*/   
#logo {
    width: 20%
}
/*Changes navigation positioning to fit the screen size*/  
nav {
    margin-top: -45px;
}

nav a {
    padding: 4px;
    font-size: 10px;
}
/*Changes fonts width to fit the screen size*/  
h1 {
    width: 80%;
    margin-left: 0;
}

h2 {
    width: 55%;
}

.title2 {
    width: 80%;
}
/*Changes banner positioning to fit the screen size*/  
.banner {
    margin: 10px;
    padding: 20px;
}

/*Hides the calender as there is no space for it on the mobile banner*/  
.calender {
    visibility: hidden;
}

/*Hides the banner content as there is no space for it on the mobile banner*/  
.bannercontent {
    visibility: hidden;
}

/*Changes section positioning to fit the screen size*/  
section {
    margin: 20px
}

/*Changes article  positioning to fit the screen size*/  
article {
    margin: 10px;
}

/*Changes cave section width and positioning to fit the screen size*/  
.cave {
    padding: 10px;
    width: 35%;
    margin-left: 98px;
    height: 100px;
}

.caveimage {
    margin-top: 0;
    margin-left: 8px;
    width: 85%;
}

/*Changes img width and positioning to fit the screen size*/  
img {
    width: 70%;
    display: block;
    margin-left: 43px;
    margin-bottom: 10px;
}

/*Changes socials to flex across screen*/  
.socials {
    display: inline-flex;
    margin: 0;
}

/*Changes button width to fit the screen size*/  
button {
    width: 50%;
    margin-left: 40px;
}

/*Changes text positioning to fit the screen size*/  
.eventText {
    margin-right: 0;
    margin-bottom: 130px;
}

/*Changes book button positioning to fit the screen size*/  
.book {
    margin-left: 49px;
    margin-top: -100px;
}

/*Changes study visability to fit the screen size*/  
.study {
    visibility: hidden; 
}

/*Removes the border as the news wraps into one column*/  
.community {
    border: #383838 0px solid;
}

}